.agree{
  width: 100%;
  padding: 0 .32rem;
  height:100%;
  overflow: scroll;
  margin: 0 auto;
  .agree_name{
    margin:.48rem auto .4rem auto;
    width:6rem;
    text-align: center;
    height:.88rem;
    font-size:.32rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:.44rem;
  }
  .agree_title{
    width:100%;
    font-size:.32rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:.52rem;
  }
  .agree_section{
    width:100%;
    font-size:.32rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:.52rem;
    margin-bottom: .5rem;
  }
  .agree_table_div{
    width:100%;
    overflow: scroll;
    .agree_table{
      width:11.12rem;
      border:1px solid #DCDCDC;
      th{
        border-right:1px solid #DCDCDC;
        border-bottom:1px solid #DCDCDC;
        padding:0;
        margin:0;
        color: #666;
        background:#F2F3F5 ;
        text-align: center;
        height:.96rem;
        &:nth-child(1){
          width:.96rem;
        }
        &:nth-child(2),&:nth-child(3),&:nth-child(4){
          width:1.9rem;
        }
        &:nth-child(5){
          width:1.14rem;
        }

      }
      td{
        border-right:1px solid #DCDCDC;
        border-bottom:1px solid #DCDCDC;
        text-align: center;
        padding:.12rem .1rem;
      }
    }
  }





}