.home{
    height: 100%;
    width: 7.5rem;
    overflow: hidden;
    position: relative;
    .home_bg{
        width: 100%;
        position: absolute;
        z-index: 2;
    }
    .home_con{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 9;
        .home_left_gift{
            position: absolute;
            top: 1.2rem;
            left: 0;
            font-weight: bold;
        }
        .home_left_list{
            position: absolute;
            top: 2.7rem;
            left: 0;
            font-weight: bold;
        }
        .con_video{
            position: absolute;
            top: 1rem;
            left: .8rem;
            height: 3.3rem;
            width: 5.94rem;
            background: #000;
            .con_video_tv{
                position: absolute;
                height: 5rem;
                width: 7.42rem;
                top: -0.74rem;
                left: -0.8rem;
                z-index: -1;
            }
            .con_video_tv_and{
                position: absolute;
                height: 4.98rem;
                width: 7.44rem;
                top: -0.74rem;
                left: -0.8rem;
                z-index: -1;
            }
        }
        .con_hint{
            margin: 5.2rem 0 0 0;
            p{
                width: 100%;
                display: inline-block;
                font-size: .30rem;
                height:.36rem;
                margin-bottom:.22rem;
                letter-spacing: 2px;
                color: #361c04;
                text-align: center;
                span{
                    font-weight: bold;
                }
            }
        }
        .con_btn{
            margin-top: 1.56rem;
            display: flex;
            justify-content: space-around;
        }
    }

}